

<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
!pip install ipython-sql
!pip install ipython-sql prettytable

In [ ]:
%load_ext sql

In [ ]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas

In [ ]:
%sql sqlite:///my_data1.db

In [10]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [11]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [12]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [13]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [14]:
%sql select COUNT (Launch_Site), Launch_Site FROM SPACEXTBL group by Launch_Site

 * sqlite:///my_data1.db
Done.

[(26, 'CCAFS LC-40'),
 (34, 'CCAFS SLC-40'),
 (25, 'KSC LC-39A'),
 (16, 'VAFB SLC-4E')]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [15]:
%sql select * FROM SPACEXTBL where Launch_Site like "CCA%" limit 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
%sql select SUM (PAYLOAD_MASS__KG_), Booster_Version FROM SPACEXTBL group by Booster_Version

 * sqlite:///my_data1.db
Done.

[(2647, 'F9 B4  B1039.2'),
 (5384, 'F9 B4  B1040.2'),
 (9600, 'F9 B4  B1041.2'),
 (6460, 'F9 B4  B1043.2'),
 (3310, 'F9 B4 B1039.1'),
 (4990, 'F9 B4 B1040.1'),
 (9600, 'F9 B4 B1041.1'),
 (3500, 'F9 B4 B1042.1'),
 (5000, 'F9 B4 B1043.1'),
 (6092, 'F9 B4 B1044'),
 (362, 'F9 B4 B1045.1'),
 (2697, 'F9 B4 B1045.2'),
 (3600, 'F9 B5  B1046.1'),
 (5800, 'F9 B5 B1046.2'),
 (4000, 'F9 B5 B1046.3'),
 (12050, 'F9 B5 B1046.4'),
 (5300, 'F9 B5 B1047.2'),
 (6500, 'F9 B5 B1047.3 '),
 (3000, 'F9 B5 B1048.2'),
 (4850, 'F9 B5 B1048.3'),
 (15600, 'F9 B5 B1048.4'),
 (15600, 'F9 B5 B1048.5'),
 (9600, 'F9 B5 B1049.2'),
 (13620, 'F9 B5 B1049.3'),
 (15600, 'F9 B5 B1049.4'),
 (15600, 'F9 B5 B1049.5'),
 (15440, 'F9 B5 B1049.6'),
 (15600, 'F9 B5 B1049.7 '),
 (4200, 'F9 B5 B1051.2 '),
 (15600, 'F9 B5 B1051.3'),
 (15600, 'F9 B5 B1051.4'),
 (14932, 'F9 B5 B1051.5'),
 (15600, 'F9 B5 B1051.6'),
 (2268, 'F9 B5 B1056.2 '),
 (6956, 'F9 B5 B1056.3 '),
 (15600, 'F9 B5 B1056.4'),
 (5500, 'F9 B5 B1058.2 '),
 (15600, 'F9 B5 B1058.3 '),
 (2972, 'F9 B5 B1058.4 '),
 (1977, 'F9 B5 B1059.2'),
 (15410, 'F9 B5 B1059.3'),
 (3130, 'F9 B5 B1059.4'),
 (15600, 'F9 B5 B1060.2 '),
 (15600, 'F9 B5 B1060.3'),
 (7075, 'F9 B5B1047.1'),
 (9600, 'F9 B5B1048.1'),
 (7060, 'F9 B5B1049.1'),
 (2500, 'F9 B5B1050'),
 (12055, 'F9 B5B1051.1'),
 (4400, 'F9 B5B1054'),
 (2495, 'F9 B5B1056.1 '),
 (12530, 'F9 B5B1058.1 '),
 (2617, 'F9 B5B1059.1'),
 (4311, 'F9 B5B1060.1'),
 (12500, 'F9 B5B1061.1 '),
 (4311, 'F9 B5B1062.1'),
 (1192, 'F9 B5B1063.1'),
 (5300, 'F9 FT  B1021.2'),
 (3669, 'F9 FT  B1029.2'),
 (5200, 'F9 FT  B1031.2'),
 (4230, 'F9 FT  B1032.2'),
 (2205, 'F9 FT  B1035.2'),
 (9600, 'F9 FT  B1036.2'),
 (2150, 'F9 FT  B1038.2'),
 (2034, 'F9 FT B1019'),
 (5271, 'F9 FT B1020'),
 (3136, 'F9 FT B1021.1'),
 (4696, 'F9 FT B1022'),
 (3100, 'F9 FT B1023.1'),
 (3600, 'F9 FT B1024'),
 (2257, 'F9 FT B1025.1'),
 (4600, 'F9 FT B1026'),
 (9600, 'F9 FT B1029.1'),
 (5600, 'F9 FT B1030'),
 (2490, 'F9 FT B1031.1'),
 (5300, 'F9 FT B1032.1'),
 (6070, 'F9 FT B1034'),
 (2708, 'F9 FT B1035.1'),
 (9600, 'F9 FT B1036.1'),
 (6761, 'F9 FT B1037'),
 (475, 'F9 FT B1038.1'),
 (0, 'F9 v1.0  B0003'),
 (0, 'F9 v1.0  B0004'),
 (525, 'F9 v1.0  B0005'),
 (500, 'F9 v1.0  B0006'),
 (677, 'F9 v1.0  B0007'),
 (14642, 'F9 v1.1'),
 (500, 'F9 v1.1  B1003'),
 (2216, 'F9 v1.1 B1010'),
 (4428, 'F9 v1.1 B1011'),
 (2395, 'F9 v1.1 B1012'),
 (570, 'F9 v1.1 B1013'),
 (4159, 'F9 v1.1 B1014'),
 (1898, 'F9 v1.1 B1015'),
 (4707, 'F9 v1.1 B1016'),
 (553, 'F9 v1.1 B1017'),
 (1952, 'F9 v1.1 B1018')]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [17]:
%sql select AVG (PAYLOAD_MASS__KG_), Booster_Version FROM SPACEXTBL where Booster_Version = "F9 v1.1"

 * sqlite:///my_data1.db
Done.

[(2928.4, 'F9 v1.1')]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [18]:
%sql select MIN (Date), Landing_Outcome FROM SPACEXTBL where Landing_Outcome = "Success (ground pad)"

 * sqlite:///my_data1.db
Done.

[('2015-12-22', 'Success (ground pad)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [19]:
%sql select Booster_Version, Landing_Outcome, PAYLOAD_MASS__KG_  FROM SPACEXTBL where Landing_Outcome = "Success (drone ship)" and PAYLOAD_MASS__KG_ between 4000 AND 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 'Success (drone ship)', 4696),
 ('F9 FT B1026', 'Success (drone ship)', 4600),
 ('F9 FT  B1021.2', 'Success (drone ship)', 5300),
 ('F9 FT  B1031.2', 'Success (drone ship)', 5200)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [41]:
%sql select count(Mission_Outcome),Mission_Outcome from SPACEXTBL group by Mission_Outcome

 * sqlite:///my_data1.db
Done.

[(1, 'Failure (in flight)'),
 (98, 'Success'),
 (1, 'Success '),
 (1, 'Success (payload status unclear)')]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [51]:
%sql select booster_version from Spacextbl where payload_mass__kg_=(select MAX(payload_mass__kg_) from Spacextbl)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [46]:
%sql select substr (Date,0,5), substr(Date,6,2), landing_outcome, booster_version, launch_site from SPACEXTBL where substr (Date,0,5)="2015" AND Landing_Outcome = "Failure (drone ship)"

 * sqlite:///my_data1.db
Done.

[('2015', '01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('2015', '04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
%sql select * from SPACEXTBL where landing_outcome Like "Success (ground pad)"AND (DATE between "2010-06-04" and "2017-03-20") order by Date DESC

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>